::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	background:#2D3F51;
	border-radius: 7px;
	border: 2px solid #F5F5F5;
}
@media (max-width: 1110px){
	::-webkit-scrollbar{
			display: none;
	}
}
.conteyner{
	max-width: 1110px;
	margin: 0 auto;
}
@media (max-width: 1110px){
	.conteyner{
		max-width: 360px;

	}
}
.fon{
	width: 100%;
	position: absolute;
}
.ssilki{
}
.ssilki2{
	font-size: 14px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	padding:11px;
	margin-left: 17px;
}
@media (max-width: 1110px){
	.ssilki2{
		font-size: 9px;
		padding:8px;
		margin-left: 4px;
	}
}

.start{
	border-radius: 4px;
	border:1px solid;
}
@media (max-width:1110px){
	.start{
		border-radius: 1px;
	}
}
.mesto{
	margin-left: 950px;
	margin-top: 49px;
	position: absolute;
}
@media (max-width: 1110px){
	.mesto{
	text-align: center;
		margin-left: 19px;
		margin-top: 11px;
	}
}
.ssilki1{
 	position: absolute;
}
.f{
	margin-top: 50px;
}

#f{
	width: 15px;
}
@media (max-width: 1110px){
	#f{
		display: none;
	}
}
.t{
	margin-top: 50px;
	margin-left: 50px;
}
#t{
	height: 16px;
}
@media (max-width: 1110px){
	#t{
		display: none;
	}
}

.g{
	margin-top: 50px;
	margin-left: 100px;
}
#g{
	width: 23px;
}
@media (max-width: 1110px){
	#g{
		display: none;
	}
}
.r{
	margin-top: 50px;
	margin-left: 150px;
}
#r{
	width: 15px;
}
@media (max-width: 1110px){
	#r{
		display: none;
	}
}
.i{
	margin-top: 50px;
	margin-left: 200px;
}
#i{
	width: 15px;
}
@media (max-width: 1110px){
	#i{
		display: none;
	}
}
.logohere{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 21px;
	margin-top: 49px;
	margin-left: 670px;
	position: absolute;
}
@media (max-width: 1110px){
	.logohere{
		margin-top: 70px;
		margin-left: 157px;
		font-size: 14px;
	}
}
.shapka{
	background: url("image/home_01.jpg") center no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.conteyner2{
	max-width: 1420px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 1110px){
	.conteyner2{
		max-width: 360px;
		padding-right: 6px;
		padding-left: 6px; 
	}
}
.but{
	margin: 0;  
	border: 0;
	background: transparent;
	transform: 	cursor 0.01s 
}
.but:hover{
	cursor: pointer
}
#but{
	outline: none;
}
	
.lupa{
	width: 15px;
}
@media (max-width: 1110px){
	.lupa{
		width: 10px;
		 
	}
}
.textcen{
}
@media (max-width: 1110px){
	.textcen{
		text-align: center;
		position: absolute;
	}
}
.zag{
	font-size: 56px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	margin-left: 88px;
	margin-top: 310px;
	position: absolute;
}
@media (max-width: 1110px){
	.zag{
		font-size: 62px;
		margin-left: 47px;
		margin-top: 100px; 
	}
}
.ser{
	font-family: 'Open Sans', sans-serif;
	margin: 0;  
	border: 0;
	outline: none;
	background: transparent;
	font-size: 56px;
	font-weight: 600;
	color: #C8342D;
}
@media (max-width: 1110px){
	.ser{
		font-size: 62px; 
	}
}
.text_zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #CFD0D1;
	position: absolute;
	margin-top: 395px;
	margin-left: 195px;
	line-height: 1.9;
}
@media (max-width: 1110px){
	.text_zag{
		font-size: 9px;
		margin-top: 440px;
		margin-left: 50px;
		line-height: 1.9;
	}
}
.br{
	display:none; 
}
@media (max-width: 1110px){
	.br{
		display:unset;
	}
}
.butt{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border: 1px solid;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 75px;
	padding-right: 75px;
	border-radius: 23px;
	margin-top: 510px;
	position: absolute;
	margin-left: 430px;
}
@media (max-width: 1110px){
	.butt{

		margin-top: 530px;
		margin-left: 45px;
	}
}
.krug{
	width: 15px;
	height: 15px;
	background-color:#FFFFFF;
	border-radius: 50%;
	margin-top: 855px;
	position: absolute;
}
@media (max-width: 1110px){
	.krug{
		margin-top: 630px;
	}
}
.krug2{
	opacity:50%;
	width: 15px;
	height: 15px;
	background-color:#FFFFFF;
	border-radius: 50%;
	margin-top: 855px;
	position: absolute;
}
@media (max-width: 1110px){
	.krug2{
		margin-top: 630px;
	}
}
.one{
	margin-left: 528px;
}
@media (max-width: 1110px){
	.one{
		margin-left: 150px;
	}
}
.to{
	margin-left: 548px;
}
@media (max-width: 1110px){
	.to{
		margin-left: 200px;
	}
}
.thre{
	margin-left: 568px;
}
@media (max-width: 1110px){
	.thre{
		margin-left: 175px;
	}
}
.conteyner3{
	width: 100%;
	height: 100%;
	max-width: 540px;
	max-height: 215px;
	background-color: #FFFFFF;
	position: absolute;
	margin-top: 80px;
	box-shadow: 0 0 20px 1px #D7D7D8;
}
@media (max-width: 1110px){
	.conteyner3{
		max-width: 360px;
		max-height: 143px;
		margin-top: 18px;
	}
}
.img{
	width: 255px;
	height: 215px;
	margin-left: 285px;
	position: absolute;
}
@media (max-width: 1110px){
	.img{
		width: 170px;
		height: 143px;
		margin-left: 190px;
	}
}
.creat{
	color: #2D3F51;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 40px;
	margin-left: 30px;
}
@media (max-width: 1110px){
	.creat{
		margin-top: 27px;
		margin-left: 20px;
		font-size: 9px;
	}
}
.lor{
	color: #6C7885;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 2.3;
	margin-top: 10px;
	margin-left: 30px;
	position: absolute;
}
@media (max-width: 1110px){
	.lor{
		margin-top: 7px;
		margin-left: 20px;
		font-size: 9px;
	}
}
.read{
	color: #2D3F51;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 105px;
	margin-left: 30px;
	text-decoration: none;
	position: absolute;
}
@media (max-width: 1110px){
	.read{
		margin-top: 70px;
		margin-left: 20px;
		font-size: 9px;
	}
}
.oone{
	margin-top: 335px;
}
@media (max-width: 1110px){
	.oone{
		margin-top: 180px;
	}
}
.too{
	margin-top: 587px;
}
@media (max-width: 1110px){
	.too{
		margin-top: 342px;
	}
}
.dva{
	background-color: #C8342D;
	position: absolute;
	margin-top: 560px;
	margin-left: 635px;
}
@media (max-width: 1110px){
	.dva{
		margin-top: 780px;
		margin-left: 42px;
	}
}
.odin{
	margin-left: 635px;
	margin-top: 355px;
	line-height: 1.7;
}
@media (max-width: 1110px){
	.odin{
		margin-top: 700px;
		margin-left: 42px;
	}
}
.odva{
	margin-left: 635px;
	margin-top: 440px;
	line-height: 1.7;
}
@media (max-width: 1110px){
	.odva{
		margin-top: 650px;
		margin-left: 42px;
	}
}
.rb{
}
@media (max-width: 1110px){
	.rb{
		display: none;
	}
}
.user{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #2D3F51;
	margin-top: 250px;
	position: absolute;
	margin-left: 635px;
}
@media (max-width: 1110px){
	.user{
		margin-top: 500px;
		margin-left: 42px;
	}
}
.zgl{
	color: #2D3F51;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.fon{
	background-color: #F5F5F5;
	height: 1295px;
	width: 100%;
	position: absolute;
	margin-top: 882px;
}
@media (max-width: 1110px){
	.fon{
		height: 650px;
	}
}
.simple{
	font-size: 36px;
	color:#2D3F51;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	margin-top: 78px;
}
@media (max-width: 1110px){
	.simple{
		margin-top:30px;
	}
}
.pod{
	text-align: center;
	margin-left: 198px;
	margin-top: 27px;
}
@media (max-width: 1110px){
	.pod{
		margin-left: 5px;
		margin-top: 15px;
	}
}
.oto{
	color: #2D3F51;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-top: 160px;
	border-radius: 4px;
	border:0px solid;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	outline-color: #C8342D;
	margin-left: 5px;
}
@media (max-width: 1110px){
	.oto{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 9px;
		margin-left: 9px;
		margin-top: 100px;
	}
}
.mesto2{
	margin-left: 330px;
}
@media (max-width: 1110px){
	.mesto2{
		margin-left: 5px;
		margin-top: 15px;
	}
}
.photo{
	width: 730px;
	height: 335px;
	background-color: #000000;
	position: absolute;
	margin-top: 68px;
}
@media (max-width: 1110px){
	.photo{
		width: 240px;
		height: 112px;
		margin-top: 15px;
	}
}
.photo1{
	width: 350px;
	height: 700px;
	background-color: #000000;
	margin-left: 760px;
	margin-top: 68px;
	position: absolute;
}
@media (max-width: 1110px){
	.photo1{
		width: 115px;
		height: 225px;
		margin-left: 245px;
		margin-top: 15px;
	}
}
.photo2{
	width: 350px;
	height: 335px;
	background-color: #000000;
	position: absolute;
	margin-top: 433px;
}
@media (max-width: 1110px){
	.photo2{
		width: 117px;
		height: 112px;
		margin-top: 128px;
	}
}
.photo3{
	width: 350px;
	height: 335px;
	background-color: #000000;
	position: absolute;
	margin-top: 433px;
	margin-left: 380px;
}
@media (max-width: 1110px){
	.photo3{
		width: 117px;
		height: 112px;
		margin-left: 123px;
		margin-top: 128px;
	}
}
.tre{
	margin-top: 846px;
	margin-left: 428px;
}
@media (max-width: 1110px){
	.tre{
		margin-left: 42px;
		margin-top: 280px;
	}
}
.images{
	width: 100%;
	height: 100%;
	background-size: cover;
}
.fon2{
	width: 100%;
	height: 495px;
	background-color: #2D3F51;
	position: absolute;
	margin-top: 2177px;
}
@media (max-width: 1110px){
	.fon2{
		margin-top: 1530px;
		height: 455px;
	}
}
.du{
	color: #FFFFFF;
}
#du{
	color: #99A2AA;
}
.ugol6{
	margin-left: 94px;
}
@media (max-width: 1110px){
	.ugol6{
		margin-left: 32px;
		width: 64px;
		margin-top: 40px;
	}
}
.glav{
	margin-left: 32px;
}
.mesto3{
	margin-top: 170px;
}
@media (max-width: 1110px){
	.mesto3{
		margin-left: 20px;
		margin-top: 70px;
	}
}
.naz{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	position: absolute;
	margin-top: 27px;
}
@media (max-width: 1110px){
	.naz{
		font-size: 9px;
		margin-top: -90px;
	}
}
.n{
	margin-left: 44px;
}
@media (max-width: 1110px){
	.n{
		margin-left: 62px;
	}
}
.tooo{
	margin-left: 234px;
}
@media (max-width: 1110px){
	.tooo{
		margin-left: 158px;
	}
}
.thr{
	margin-left: 405px;
}
@media (max-width: 1110px){
	.thr{
		margin-left: 245px;
	}
}
.fr{
	margin-left: 611px;
}
@media (max-width: 1110px){
	.fr{
		margin-left: 52px;
		margin-top: 16px;
	}
}
.fv{
	margin-left: 804px;
}
@media (max-width: 1110px){
	.fv{
		margin-left:151px;
		margin-top: 16px;
	}
}
.sx{
	margin-left: 985px;
}
@media (max-width: 1110px){
	.sx{
		margin-left:243px;
		margin-top: 16px;
	}
}
.fon3{
	margin-top: 2750px;
}
@media (max-width: 1110px){
	.fon3{
		margin-top: 2010px;
	}
}
.conteyner4{
	width: 350px;
	height: 315px;
	margin-top: 170px;
	position: absolute;
	transform: box-shadow 0.1s
}
@media (max-width: 1110px){
	.conteyner4{
		margin-left: 5px;
	}
}
.conteyner4:hover{
	box-shadow: 0 0 20px 1px #D7D7D8;
}
.img11{
	margin-top: 54px;
	margin-left: 126px;
}
.grap{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #2D3F51;
	font-size: 14px;
	text-align: center;
	margin-top: 25px;
}
.dolor{
	font-family: 'Open Sans', sans-serif;
	color: #2D3F51;
	font-size: 14px;
	text-align: center;
	line-height: 2;
	margin-top: 15px;
}
.o_1{
	margin-left: 380px;
}
.o_2{
	margin-left: 760px;
}
.o_3{
	margin-top: 515px;
}
.o_4{
	margin-left: 380px;
	margin-top: 515px;
}
.o_5{
	margin-left: 760px;
	margin-top: 515px;
}
@media (max-width: 1110px){
		.o_1{
			margin-left: 0px;
			margin-top: 515px;
		}
		.o_2{
			margin-left: 0px;
			margin-top: 860px;
		}
		.o_3{
			margin-left: 0px;
			margin-top: 1235px;
		}
		.o_4{
			margin-left: 0px;
			margin-top: 1580px;
		}
		.o_5{
			margin-left: 0px;
			margin-top: 1925px;
		}
}
.kras{
	text-decoration: none;
}
.fon4{
	background-color: #F5F5F5;
	width: 100%;
	height: 978px;
	margin-top: 910px;
	position: absolute;
}
@media (max-width: 1110px){
	.fon4{
		margin-left: 5px;
		margin-top: 2300px;
	}
}
.conteyner6{
	width: 1110px;
	height: 315px;
	background-color: #FFFFFF;
	margin-top: 170px;
	box-shadow: 0 0 30px 10px #D7D7D8;
}
@media (max-width: 1110px){
	.conteyner6{
		width: 350px;
		height: 315px;
	}
}
.conteyner7{
	width: 350px;
	height: 260px;
	background-color: #FFFFFF;
	margin-top: 42px;
	box-shadow: 0 0 30px 10px #D7D7D8;
	position: absolute;
}
.imggg{
	position: absolute;
}
.mesto4{
	margin-left: 350px;
	margin-top: 90px;
}
.data{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #C8342D;
	margin-left: 30px;
	margin-top: 40px;
	position: absolute;
}
.data1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #C8342D;
	margin-left: 30px;
	margin-top: 40px;
	position: absolute;
}
@media (max-width: 1110px){
	.data{
		display: none;
	}
}
.dovn{
	margin-top: 90px;
	position: absolute;
}
.dovn1{
	margin-top: 90px;
	position: absolute;
}
@media (max-width: 1110px){
	.dovn1{
		font-size: 14px;
	}
}
@media (max-width: 1110px){
	.dovn{
		display: none;
	}
}
.ips{
	position: absolute;
	margin-top: 110px;
}
.ips1{
	position: absolute;
	margin-top: 110px;
}
@media (max-width: 1110px){
	.ips1{
		font-size: 14px;
	}
}
@media (max-width: 1110px){
	.ips{
		display: none;
	}
}
.dovn2{
	margin-top: 265px;
}
.dovn3{
	margin-top: 265px;
}
@media (max-width: 1110px){
	.dovn2{
		display: none;
	}
}
.dovn23{
	margin-top: 209px;
}
@media (max-width: 1110px){
	.dovn23{
		font-size: 14px;
	}
}
.tg{
	margin-left: 380px;
}
@media (max-width: 1110px){
	.tg{
		display: none;
	}
}
.nt{
	margin-left: 760px;
}
@media (max-width: 1110px){
	.nt{
		display: none;
	}
}
.fon5{
	width: 100%;
	height: 322px;
	background-color: #28252A;
	margin-top: 1805px;
}
@media (max-width: 1110px){
	.fon5{
		margin-top: 3200px;
		z-index: 9999;
		position: absolute;
	}
}
